* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 1rem;
  flex-wrap: wrap;
}
.card {
  background-color: gray;
  border-radius: 2.5%;
  height: 400px;
  min-width: 25vw;
  position: relative;
  overflow: hidden;
}

.card_child button {
  display: flex;
  align-self: center;
  background-color: #555555;
  font-size: 10px;

  border-radius: 4px;
  transition-duration: 0.4s;
}
.card_child button {
  background: linear-gradient(to bottom right, #ef4765, #ff9a5a);
  border: 0;
  border-radius: 12px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.card_child button:not([disabled]):focus {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(239, 71, 101, 0.5),
    0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
}

.card_child button:not([disabled]):hover {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(239, 71, 101, 0.5),
    0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
}

.card_child h2 {
  font-size: 12px;
}
.card_child {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: whitesmoke;
  font-size: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  height: 35%;
  width: 100%;
  bottom: 0;
  left: 0;
  position: absolute;
  transform: translateY(50px);
  transition: transform 0.5s;
}

.card_child:hover {
  transform: translateY(0);
}
